body {
    background-color: aqua;
}

div.cronometro {
    background-color: red;
    width: 250px;
    height: 200px;
    border: 2px solid black;
    align-items: center;
    border-radius: 5%;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 5%;
}

h4{
    background-color: greenyellow;
    border: 2px solid black;
    margin: 5%;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    border-radius: 5%;
}